<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <td><%= current_user.bookmarks.find(params[:id]).title %></td>

</p>

<p>
  <strong>Url:</strong>
  <td><%= current_user.bookmarks.find(params[:id]).url %></td>
</p>

<%= link_to 'Edit', edit_bookmark_path(current_user.bookmarks) %> |
<%= link_to 'Back', bookmarks_path %>
